/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import url(../node_modules/@ng-select/ng-select/themes/material.theme.css);

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
a {
  cursor: pointer
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: sans-serif, Roboto, "Helvetica Neue";
}
.nav-bg {
  background: #1de0da;
}
