<div *ngIf="IsOpenTossDiv">
  <div>
    <div>
      <p>{{tossDescription}}</p>
    </div>
    <div>
      <p>{{doToss}}&nbsp;<span (click)="createTos()">TOS</span></p>
    </div>
  </div>
  <div>
    <p *ngIf="tossResult">{{tossResult}} is win the toss.</p>
  </div>
  <div *ngIf="tossIsCompleted">
    <div><span>{{makeDecition}}</span>&nbsp;<span (click)="makeDecision('Yes')">Yes</span>&nbsp;<span (click)="makeDecision('No')">No</span></div>
  </div>
  <div *ngIf="tossDecisionIsPublished">
    <div>{{winnerGroup}} is win the tos and choose to {{winnerDecision}} First.</div>
  </div>
  <div *ngIf="tossDecisionIsPublished">
    <button (click)="GoNext()">Go Next</button>
  </div>
</div>

<div *ngIf="teamMembers">
  <div><p>{{giveInstraction}}</p></div>
  <section class="example-section">
    <div *ngFor="let x of teamMembers">
      <mat-checkbox class="example-margin" id="{{x.userName}}" (change)="doCheck($event)" >{{x.fullName}}({{x.userName}})</mat-checkbox>
    </div>
  </section>
  <div>
    <button *ngIf="activeBattingButton" (click)="selectFirstTwoBatsman()" >Go Next</button>
    <button *ngIf="activeBallerButton" (click)="selectFirstBowler()">Go Next</button>
  </div>
</div>
