<div class="serv">
  <p>Select which batsman is out!</p>
  <ul>
    <li>
      <span *ngIf="onStricker" (click)="batsmanOut($event)" id="{{onStricker.playerId}}">
        Stricker : {{onStricker.playerName}}
      </span>
    </li>
    <li>
      <span *ngIf="nonStricker" (click)="batsmanOut($event)" id="{{nonStricker.playerId}}">
        Non stricker : {{nonStricker.playerName}}
      </span>
    </li>
  </ul>
</div>

<section class="batsman-choose">
  <div *ngFor="let x of teamMembers">
    <mat-checkbox class="example-margin" id="{{x.id}}" (change)="doCheck($event)">{{x.fullName}}({{x.userName}})</mat-checkbox>
  </div>
</section>
<div *ngIf="isChecked">
  <button (click)="goNext()">Select Batsman</button>
</div>
