<table style="width:100%; padding:3px;" *ngIf="matchesList" border="1">
  <thead>
    <tr>
      <th>Match name</th>
      <th>Match type</th>
      <th>No of player</th>
      <th>Action</th>
    </tr>
  </thead>
  <tr *ngFor="let x of matchesList">
    <td>{{ x.matchName }}</td>
    <td>{{ x.matchType }}</td>
    <td>{{ x.numberOfPlayer }}</td>
    <td><a id="{{x.id}}" (click)="click($event)">Dashbord</a></td>
  </tr>
</table>
