<div class="groupName">{{GroupName}}</div>
<form *ngIf="showForm" [formGroup]="teamForm" (ngSubmit)="onSubmit()">

  <table style="width:100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td>
        <div class="form-group">
          <input formControlName="TeamName" class="form-control" type="text" id="TeamName" placeholder="Team name" />
        </div>
      </td>
    </tr>
  </table>

  <ng-select #combo [multiple]="true" [items]="optionItems" [closeOnSelect]="false" (change)="onSelectionChange($event)"
             (blur)="onTouched()" placeholder="Select tag" bindLabel="name" [ngModel]="selectedValues" bindValue="id">

    <ng-template ng-header-tmp let-items="items">
      <input type="checkbox" [ngModel]="checkAll" (change)="toggleCheckAll($event)" />
    </ng-template>

    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
      <div class="ng-value" *ngFor="let item of items | slice:0:4">
        <span class="ng-value-label">{{item.name}}{{item.login}}</span>
        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
      </div>
      <div class="ng-value" *ngIf="items.length > 4">
        <span class="ng-value-label">{{items.length - 4}} more...</span>
      </div>
    </ng-template>

    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
      <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.name}}
    </ng-template>
  </ng-select>

  <button style="position:absolute; align-items:center; padding:5px 30px;" [disabled]="loading" class="btn btn-primary">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Next
  </button>
</form>

