<section class="bowling-choose">
  <div *ngFor="let x of teamMembers">
    <mat-checkbox class="example-margin" id="{{x.id}}" (change)="doCheck($event)">{{x.fullName}}({{x.userName}})</mat-checkbox>
  </div>
</section>
<div *ngIf="isChecked">
  <button (click)="goNext()">Select Bowler</button>
</div>
