<div class="card" style="color:black;">
  <h4 class="card-header">Create a Match</h4>
  <div class="card-body">
    <form [formGroup]="match" (ngSubmit)="onSubmit(match.value)">

      <div class="form-group">
        <label for="matchName">Match name</label>
        <input type="text" formControlName="matchName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.matchName.errors }" />
        <div *ngIf="submitted && f.matchName.errors" class="invalid-feedback">
          <div *ngIf="f.matchName.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="matchType">Match type</label>
        <input type="text" formControlName="matchType" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.matchType.errors }" />
        <div *ngIf="submitted && f.matchType.errors" class="invalid-feedback">
          <div *ngIf="f.matchType.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="numberOfPlayer">Number of player</label>
        <input type="number" formControlName="numberOfPlayer" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.numberOfPlayer.errors }" />
        <div *ngIf="submitted && f.numberOfPlayer.errors" class="invalid-feedback">
          <div *ngIf="f.numberOfPlayer.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="createdOn">Created on</label>
        <input type="date" formControlName="createdOn" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.createdOn.errors }" />
        <div *ngIf="submitted && f.createdOn.errors" class="invalid-feedback">
          <div *ngIf="f.createdOn.errors.required">Username is required</div>
        </div>
      </div>
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Submit
      </button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </form>
  </div>
</div>
