.posible-run, .ballStatus {
  color: white;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 5px;
  width: 100px;
}

.selected-on {
  background: red;
}

.selected-off {
  background: blue;
}

.on-stricker {
  background: red;
  color: white;
}

.non-stricker {
  background: purple;
  color: white;
}

.on-bolling {
  background: #ff6a00;
  color: white;
}

.score-board {
  background: #db18cc;
  color: white;
}

.swap-batsman {
  background: #ff6a00;
  float: right;
  position: relative;
  bottom: 3px;
}

.recentBall {
  background: #480c48;
  margin: 3px;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  color:white;
}

p {
  line-height: 2.5;
}



.inline-options {
  margin: 10px 0 10px 0;
}

.content .dashboardOptionsButtion {
  border: 0px;
  padding: 0px;
  width: 100%;
}

.inline-options .options.get-new-list {
  text-align: right;
}

.inline-options .options a {
  border: 2px solid #6577d4;
  color: #6577d4;
  display: inline-block;
  padding: 0px 20px;
  font-weight: 700;
  border-radius: 22px;
  margin-top: 12px;
  margin-right: 5px;
  transition: all .1s ease-in-out;
}

.inline-options .options a:hover {
  background: #6577d4;
  color: #ffffff;
}

.inline-options .options {
  display: inline-block;
  box-sizing: border-box;
}
