<div>
  <section>
    <div class="dashboardOptionsButtion">
      <div class="inline-options">
        <div class="options dashboard-save">
          <a (click)="batsmanIsOut()">Out</a>
        </div>
        <div class="options dashboad-preview">
          <a (click)="overCompleted()">Over</a>
        </div>
        <div class="options dashboad-next">
          <a (click)="swapStrickerAndNonStricker()">Swap Batting</a>
        </div>
        <div class="options dashboad-finish">
          <a>Finish</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="dashboardOptionsButtion">
      <div class="inline-options">
        <div class="options dashboad-score">
          <a>{{battingTeamName}}&nbsp;{{currnetRun}}|{{currentWicket}}</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="dashboardOptionsButtion">
      <div class="inline-options">
        <div class="options dashboad-stricker">
          <a>*&nbsp;{{onStrickerBattingName}}&nbsp;{{onStrickerBattingScore}}({{onStrickerBallCount}})</a>
        </div>
        <div class="options dashboad-non-stricker">
          <a>{{nonStrickerBattingName}}&nbsp;{{nonStrickerBattingScore}}({{nonStrickerBallCount}})</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="dashboardOptionsButtion">
      <div class="inline-options">
        <div class="options dashboad-current-bowler">
          <a>{{currentBowlerName}}&nbsp;{{bowlerGivenRun}}&nbsp;({{validBowlerBallCount}})</a>
        </div>
      </div>
    </div>
  </section>

</div>

<div>
  <div>
    <p>
      <span class="posible-run selected-off" *ngFor="let item of possibleRun;" (click)="updateRun($event.target,item)">
        {{item}}
      </span>
    </p>
    <p>
      <span class="ballStatus selected-off" *ngFor="let item of extra;" (click)="updateWideClass($event.target,item)">
        {{item}}
      </span>
    </p>
  </div>
  <div>
    <p>
      <span class="recentBall" *ngFor="let ball of recentBalls">
        {{ball.run}}<span *ngIf="ballStatusReverse[ball.ballStatus]">{{ballStatusReverse[ball.ballStatus]}}</span>
      </span>
    </p>
  </div>
</div>
